body {
  background-image: url('background/bc5.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}  
  
  #grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(11, 59px);
    grid-template-rows: repeat(11, 59px); 
    gap: 2px; 
  }

  .cell {
    background-color: transparent;
    border: 1px solid transparent;
    background-image: url('gridPictures/base_tile.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
  }
  
  .mountain {
    background-color: transparent;
    border: 1px solid transparent;
    background-image: url('gridPictures/mountain_tile.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
  }
  
  #element-grid {
    position: absolute;
    cursor: move;
    display: grid;
    grid-template-columns: repeat(3, 59px);
    grid-template-rows: repeat(3, 59px); 
    gap: 2px; 
  }

  .elementCell {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    background-size: cover; 
    background-repeat: no-repeat; 
  }

  
  .water {
    background-image: url('elements/water_tile.png');
    background-color: transparent;
    border: 1px solid transparent;
    background-size: cover; 
    background-repeat: no-repeat; 
  }
  
  .town {
    background-image: url('elements/village_tile.png');
    border: 1px solid transparent;
    background-size: cover; 
    background-repeat: no-repeat; 
  }
  
  .forest {
    background-image: url('elements/forest_tile.png');
    border: 1px solid transparent;
    background-size: cover; 
    background-repeat: no-repeat; 
  }
  
  .farm {
    background-image: url('elements/plains_tile.png');
    border: 1px solid transparent;
    background-size: cover; 
    background-repeat: no-repeat; 
  }

  .water2 {
    background-image: url('elements/water_tile.png');
    background-color: transparent;
    border: 1px solid transparent;
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 0.5;
  }
  
  .town2 {
    background-image: url('elements/village_tile.png');
    border: 1px solid transparent;
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 0.5;
  }
  
  .forest2 {
    background-image: url('elements/forest_tile.png');
    border: 1px solid transparent;
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 0.5;
  }
  
  .farm2 {
    background-image: url('elements/plains_tile.png');
    border: 1px solid transparent;
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 0.5;
  }

  #grid-container {
    position: absolute;
    width: 705px; 
    height: 710px; 
    border-radius: 30px; 
    background-image: url('background/bc4.png');
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    bottom: 40px;
    left: 20px;
    font-size: 18px;
  }
  
  #element-container {
    position: absolute;
    width: 260px; 
    height: 300px; 
    border-radius: 50px; 
    background-image: url('background/bc4.png');
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    bottom: 50px;
    right: 40px;
    font-size: 18px;
  }
  
  .time-container {
    position: absolute;
    top: 15px;
    right: 32px;
    font-size: 18px;
  }

  .button {
    position: absolute;
    background-image: url('background/bc4.png');
    border: none;
    color: white;
    padding: 16px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    width: 230px; 
    height: 60px; 
}

.button1 {
    background-color: white; 
    color: #654321;
    border: 2px solid transparent;
    bottom: 150px;
    right: 370px;
}

.button2 {
    background-color: white; 
    color: #654321;
    border: 2px solid transparent;
    bottom: 70px;
    right: 370px;
}

#info-element-container {
  position: absolute;
  width: 300px; 
  height: 50px; 
  border-radius: 20px; 
  background-image: url('background/bc4.png');
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  bottom: 250px;
  right: 350px;
  font-size: 18px;
}

.mission-info-container {
  position: absolute;
  top: 15px;
  left: 32px;
  font-size: 18px;
}

#mission-container {
  position: absolute;
  width: 650px; 
  height: 390px; 
  border-radius: 30px; 
  background-image: url('background/bc4.png');
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  top: 68px;
  right: 40px;
  font-size: 18px;
}


#mission-container-1 {
  position: absolute;
  width: 300px; 
  height: 100px; 
  background-image: url('basicMissions/Group\ 69.png');
  background-size: cover;
  bottom: 12px;
  left: 15px;
}

#mission-container-2 {
  position: absolute;
  width: 300px; 
  height: 100px; 
  background-image: url('basicMissions/Group\ 70.png');
  background-size: cover;
  bottom: 12px;
  right: 15px;
}

#mission-container-3 {
  position: absolute;
  width: 300px; 
  height: 100px; 
  background-image: url('basicMissions/Group\ 74.png');
  background-size: cover;
  top: 142px;
  right: 15px;
}

#mission-container-4 {
  position: absolute;
  width: 300px; 
  height: 100px; 
  background-image: url('basicMissions/Group\ 78.png');
  background-size: cover;
  top: 142px;
  left: 15px;
}


#season-container-1 {
  position: absolute;
  width: 69px;  
  height: 69px; 
  background-image: url('season/summer.png');
  background-size: cover;
  top: 27px;
  left: 140px;
}

#season-container-2 {
  position: absolute;
  width: 67px; 
  height: 67px; 
  background-image: url('season/spring.png');
  background-size: cover;
  top: 27px;
  left: 230px;
}

#season-container-3 {
  position: absolute;
  width: 67px; 
  height: 67px; 
  background-image: url('season/autmn.png');
  background-size: cover;
  top: 27px;
  right: 265px;
}

#season-container-4 {
  position: absolute;
  width: 67px; 
  height: 67px;  
  background-image: url('season/winter.png');
  background-size: cover;
  top: 27px;
  right: 175px;
}

#score-container {
  position: absolute;
  width: 150px; 
  height: 35px; 
  border-radius: 20px; 
  background-image: url('background/bc4.png');
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  left: 300px;
  top: 25px;
  font-size: 18px;
}

#score1 {
  position: absolute;
  width: 100px; 
  height: 18px; 
  border-radius: 7px; 
  background-color: black;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  left: 18px;
  top: 120px;
  font-size: 12px;
  opacity: 0.7;
}

#score2 {
  position: absolute;
  width: 100px; 
  height: 18px; 
  border-radius: 7px; 
  background-color: black;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  right: 210px;
  top: 120px;
  font-size: 12px;
  opacity: 0.7;
}

#score3 {
  position: absolute;
  width: 100px; 
  height: 18px; 
  border-radius: 7px; 
  background-color: black;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  left: 18px;
  top: 255px;
  font-size: 12px;
  opacity: 0.7;
}


#score4 {
  position: absolute;
  width: 100px; 
  height: 18px; 
  border-radius: 7px; 
  background-color: black;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  right: 210px;
  top: 255px;
  font-size: 12px;
  opacity: 0.7;
}

#score-season1 {
  position: absolute;
  width: 52px; 
  height: 15px; 
  border-radius: 7px; 
  background-color: orange;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  left: 147px;
  top: 8px;
  font-size: 10px;
  opacity: 0.7;
}


#score-season2 {
  position: absolute;
  width: 52px; 
  height: 15px; 
  border-radius: 7px; 
  background-color: green;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  left: 242px;
  top: 8px;
  font-size: 10px;
  opacity: 0.7;
}

#score-season3 {
  position: absolute;
  width: 52px; 
  height: 15px; 
  border-radius: 7px; 
  background-color: burlywood;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  left: 326px;
  top: 8px;
  font-size: 10px;
  opacity: 0.7;
}

#score-season4 {
  position: absolute;
  width: 52px; 
  height: 15px; 
  border-radius: 7px; 
  background-color: rgb(23, 146, 160);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  left: 416px;
  top: 8px;
  font-size: 10px;
  opacity: 0.7;
}

.selectedo {
  border-radius: 7px; 
  border: 1px solid rgb(222, 213, 205); 
  box-shadow: 5px 5px 10px rgba(205, 103, 8, 0.5);
}

.selectedg {
  border-radius: 7px; 
  border: 1px solid rgb(222, 213, 205);
  box-shadow: 5px 5px 10px rgba(48, 235, 27, 0.5);
}

.selectedb {
  border-radius: 7px; 
  border: 1px solid rgb(222, 213, 205); 
  box-shadow: 5px 5px 10px burlywood;
}

.selectedblue {
  border-radius: 7px; 
  border: 1px solid rgb(222, 213, 205); 
  box-shadow: 5px 5px 10px rgb(23, 146, 160);
}

.selectedM {
  position: relative;
  z-index: 2; 
}

.selectedM::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px; 
  width: 100%;
  height: 100%;
  border-radius: 10px; 
  background: radial-gradient(ellipse at center, transparent 70%, burlywood 100%, burlywood);
  pointer-events: none; 
  z-index: 1; 
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#Game-over-cover {
  position: absolute;
  width:  100vw; 
  height: 100vh; 
  border-radius: 20px; 
  background-image: url('background/bc5.png');
  opacity: 0.7;
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  font-size: 18px;
  z-index: 9998;
}

.hide{
  display: none;
}


.flex{
  display: flex;
}

#centered {
  text-align: center;
  color: #828C30;
}

#buttonC {
  background-color: rgba(130, 140, 48, 0.5); 
  padding: 16px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  width: 230px; 
  height: 60px; 
}

.button3 {
  border: 2px solid transparent;
  bottom: 300px;
  right: 730px;
  color:#738109; 
}

.button4 {
  border: 2px solid transparent;
  bottom: 200px;
  right: 730px;
  color:#738109; 
}

#box {
  text-align: center;
  position: absolute;
  width: 735px; 
  height: 500px; 
  border-radius: 30px; 
  background-color: rgba(255, 255, 255, 0.9); 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  bottom: 150px;
  left: 350px;
  font-size: 18px;
  z-index: 9999;
}


